
body 
{ 
	background-color: aliceblue; 
	font-family: Verdana, "Times New Roman", sans-serif; 
	
}
h1
{ 
	color: darkcyan;
	text-align: center; 
	margin-top: 60px;
	margin-bottom: 60px; 
	margin-right: 50px 
	margin-left: 50px 
	font-size: 45px;
} 
p 
{ 
	color: black;	  
} 

h2 
{ 
	color: darkcyan;
	font-size: 25px;
}