body 

{ 

	font-family: Verdana, "Times New Roman", sans-serif; 
	background-color:rgb(199, 222, 220);
} 

h1 
{ 
	text-shadow: 3px 2px rgb(173, 194, 244); 
	color: darkcyan; 
	text-align: center;
} 

h2 
{ 
	color: darkcyan; 
	margin: 50px;
} 
p 
{ 
	margin: 10px;
